FLASK_APP=run.py
FLASK_DEBUG=1
SECRET_KEY=replace-this-in-production
OPENWEATHER_API_KEY="db6e38a4b6f2370e46f1396334f9d2da"
NEWS_API_KEY="pub_d977188f8370464ea09065e64fa427ff"
GEMINI_API_KEY="AIzaSyC0VYo7Ns1kqiO1SJ6qPNEwNtaOopoOdqY"
OILPRICEAPI_KEY= "080f3bed4d3d88fcb5c4518050881fe339d75aff99c3382c8d03323ca22e8a75"

SCHEDULE_API_BASE_URL=https://schedules.searates.com/api/v2
SCHEDULE_API_KEY=replace-me
GEMINI_MODEL=gemini-2.5-flash
API_TIMEOUT_SECONDS=10